#quote-container {
    color: white;
}

#quotes {
    text-align: center;
    padding: 3rem;

    & div {
        & p {
            font-size: 2rem;
            padding: 2rem;
        }
    }
}

.author {
    font-size: 1rem;
}