#hero-section {
    background-image: url(https://images.pexels.com/photos/1555813/pexels-photo-1555813.jpeg);
    background-size: cover;
    height: 100dvh;

    & table, th, td {
        border: lime hidden 2px;
    }
    
    & th {
        height: 5dvh;
    }

    & .left-space {
        width: 5dvh;
    }

    & h1 {
        /* border: red solid 2px; */
        width: fit-content;
        position: relative;
        padding: 1.5rem;
        background-color: #53795c8f;
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
        flex: 1;
    }
}

.navlist {
    color: white;
    background-color: #53795c8f;
    display: flex;
    flex-flow: column wrap;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    padding: 1rem;

    & a {
        border-radius: 0.5rem;
        font-size: 2rem;
        text-decoration: none;
        color: white;
        background-color: #e0d27f85;
        margin: 1rem;
        padding: 1rem;
        transition: background-color 0.3s ease;

        &:hover{
            background-color: #857c4e85;
        }
    }
}