body {
    background-color: black;
}

#hero-section {
    height: fit-content;
}

#content{
    color: white;
    background-color: black;
    text-align: center;

    & h2{
        padding: 3rem;
    }

    & iframe{
        width: 70dvw;
        height: 80dvh;
        margin: auto;
    }

}